export COSMIC_READ_KEY=F6EjFzrNJoU5Q6AOQiLd1nGkyHrtJkOIBHC8qFcrITAAftxVVh
export COSMIC_BUCKET=payonk-jama
export PORT=8088
export MAGIC_PUBLISHABLE_KEY='pk_test_05CC9C10E2A6DA8C'

source .secrets.sh

source .venv/bin/activate
