.feature-square-image {
  max-width: 50vw;
}

p{
  margin-bottom: 1.75rem !important;
}

.main-content {
  margin-top: 75px;
  padding-top: 35px;
}

h1 {
  margin-top: 1.75rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

h2 {
  padding-bottom: '20px';
  text-transform: capitalize;
}

.post-content {
  text-align: justify;
  margin: 80px 5px;
}
.post-content p {
  font-size: 1.4rem;
  max-width: 75vw;
}

.post-hero {
  /*
    width: calc(100% + ${rhythm(8)});
    margin-left: ${rhythm(-4)};
    height: ${rhythm(18)}; 
    */
  height: 50vh;
}

h1, h2, h3 {
  font-family: 'Adlinnaka', 
  sans-serif; 
  
}
h1:first, h2:first, h3:first{
  padding: 1.5rem 0rem 0rem 0rem;
}
nav .a {
  box-shadow: none;  
}
.navbar-burger{
  box-shadow: none;
}
.navbar:hover {
  background:#A5C9FF !important;
}