
.feature-square-image {
    max-width: 50vw;
}

.main-content{
  margin-top: 75px;
}

h2 {
    padding-bottom: "20px";
    text-transform: capitalize;
}

.post-content {
    text-align: justify;
  }
  .post-hero {
    /*
    width: calc(100% + ${rhythm(8)});
    margin-left: ${rhythm(-4)};
    height: ${rhythm(18)}; 
    */
    height: 20vh;
  }
  
  
  /*@media (max-width: ${rhythm(32)}) {*/
    .post-hero {
      /*width: calc(100% + ${rhythm((3 / 4) * 2)});*/
      /* margin-left: ${rhythm(-3 / 4)};*/
      /* height: ${rhythm(13)};*/
      height: 13vh;    
    }