h1 {
    font-size: 2rem !important;
    margin-bottom: 20px !important;
  }

  .loader-container {
    text-align: center;
    margin-top: 3vh;
  }
  
  .alert-message{
    padding: 20px;
    background:cornsilk;
    margin: 10px 0px;
  }
  
  
p{
  margin-bottom: 1.75rem !important;
}

.main-content {
  margin-top: 75px;
  padding-top: 35px;
}

.post-content {
  text-align: justify;
  margin: 80px 5px;
}
.post-content p {
  font-size: 1.4rem;
  max-width: 75vw;
}

.post-hero {
  /*
    width: calc(100% + ${rhythm(8)});
    margin-left: ${rhythm(-4)};
    height: ${rhythm(18)}; 
    */
  height: 50vh;
}

h1, h2, h3 {
  font-family: 'Adlinnaka', 
  sans-serif; 
  padding-bottom: 14px;
}
h1:first, h2:first, h3:first{
  padding: 1.5rem 0rem 0rem 0rem;
}

.checkbox:last-child{
  margin-left:8px;
}

h1 {
  font-size: 2rem !important;
  margin-bottom: 20px !important;
}

h2 {
  padding-bottom: '20px';
  font-size: 1.6rem;
  text-transform: capitalize;
}

nav .a {
  box-shadow: none;  
}
.navbar-burger{
  box-shadow: none;
}
.navbar:hover {
  background:#A5C9FF !important;
}

.feature-square-image{
  object-fit: cover;
  width:320px;
  height:320px;
}

.feature-square-image:hover{
  cursor: pointer;
}

ul li {
  padding-left: 7px;
  font-size: 1.3rem;
  padding-left: 7px;
  list-style-type: square;
  margin: 10px 0px 10px 40px;
}